/*Colores*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem; }

h1 {
  font-weight: bold;
  font-size: 1.87rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2rem; } }

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

nav a {
  color: #ffffff;
  text-decoration: none; }

nav li {
  list-style: none; }

.text-center {
  text-align: center; }

.contenedor, section .contenedor-info, section .contenedor-texto {
  display: flex;
  flex-direction: column; }

input[type="number"],
input[type="text"],
input[type="email"],
textarea {
  background-color: black;
  color: #ffffff;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  font-size: 1rem; }

input[type="number"],
input[type="text"] {
  width: 100%; }

input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border: 3px solid #38af8d;
  outline: none; }

/*Colores*/
header {
  background-color: black; }
  header .bg-dark {
    background-color: black; }
  header .caja-logo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header .caja-logo .logo {
      width: 40%;
      height: 40%; }
      @media (min-width: 768px) {
        header .caja-logo .logo {
          width: 20%;
          height: 20%; } }

@media (min-width: 992px) {
  ul .nav-item {
    margin-left: 3rem; } }

@media (min-width: 1100px) {
  ul .nav-item {
    margin-left: 4rem; } }

@media (min-width: 1345px) {
  ul .nav-item {
    margin-left: 6rem; } }

.nav-link {
  color: #ffffff;
  font-size: 1.25rem; }
  .nav-link:hover {
    color: #38af8d;
    transition: all 0.3s ease-in-out; }
  @media (min-width: 992px) {
    .nav-link:hover {
      border-bottom: 1px solid #ffffff; } }

body#home ul.menu li:nth-child(1) .nav-link,
body#frases ul.menu li:nth-child(2) a,
body#historias ul.menu li:nth-child(3) a {
  color: #38af8d; }
  @media (min-width: 992px) {
    body#home ul.menu li:nth-child(1) .nav-link,
    body#frases ul.menu li:nth-child(2) a,
    body#historias ul.menu li:nth-child(3) a {
      border-bottom: 1px solid #ffffff; } }

/*Colores*/
footer {
  grid-area: footer;
  background-color: black;
  margin-top: 3rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 768px) {
    footer {
      margin-top: 8rem; } }
  footer h2 {
    padding-top: 0.62rem;
    font-size: 1.25rem;
    text-align: center; }
  footer p {
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 0; }
  footer .contenedor-redes {
    display: flex;
    justify-content: center;
    padding: 0.5rem; }
    footer .contenedor-redes img {
      width: 80%;
      height: 80%;
      transition: all 0.3s ease-in-out; }
      footer .contenedor-redes img:hover {
        transform: scale(1.2, 1.2); }

/*Colores*/
.grilla-frases {
  display: grid;
  height: 70rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template: "titulo titulo" 0.5fr "select select" 1fr "audio  audio" 0.5fr "listado listado" 2fr "boton boton" 1fr / 1fr 1fr;
  row-gap: 1rem; }
  @media (min-width: 600px) {
    .grilla-frases {
      padding: 1.25rem;
      height: 60rem;
      grid-template: "titulo titulo" 0.5fr "select select" 1fr "audio  audio" 1fr "listado  listado" 1fr ". boton" 0.5fr / 1fr 1fr; } }
  .grilla-frases h1 {
    grid-area: titulo; }
  .grilla-frases .contenedor-img {
    grid-area: imagen;
    width: 100%;
    padding: 1rem; }
  @media (min-width: 600px) {
    .grilla-frases .contenedor-listado {
      height: 100%; } }

.contenedor-select {
  grid-area: select;
  margin-top: 0; }
  .contenedor-select .seleccionar {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #ffffff;
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    box-sizing: none;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer; }
  .contenedor-select .parrafo-frases {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.87rem; }
  .contenedor-select .parrafo-frases span {
    color: #38af8d;
    font-size: 1.56rem;
    font-weight: bold; }

.contenedor-audio {
  grid-area: audio;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.listado {
  grid-area: listado;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  @media (min-width: 768px) {
    .listado {
      flex-direction: row;
      justify-content: space-around; } }
  @media (min-width: 600px) {
    .listado .contenedor-listado {
      width: 100%;
      height: 8rem;
      overflow-y: scroll; } }
  @media (min-width: 768px) {
    .listado .contenedor-listado {
      height: 25rem;
      width: 50%; } }
  .listado ul {
    padding-left: 0; }
  @media (min-width: 600px) {
    .listado .contenedor-img {
      height: 10%;
      width: 80%; } }
  @media (min-width: 768px) {
    .listado .contenedor-img {
      flex-basis: 47%; } }
  @media (min-width: 1100px) {
    .listado .contenedor-img {
      flex-basis: 38%; } }

.contenedor-boton {
  grid-area: boton;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 1.25rem;
  margin-right: 1rem; }
  @media (min-width: 1100px) {
    .contenedor-boton {
      margin-top: 0; } }
  .contenedor-boton span {
    font-size: 1.25rem;
    color: #ffffff; }
  .contenedor-boton button {
    width: 4.37rem;
    height: 4.37rem;
    border-radius: 70%;
    cursor: pointer;
    background-color: #168aad;
    font-weight: bold;
    color: #ffffff;
    border: none;
    margin-left: 1rem; }
    .contenedor-boton button:hover {
      background-color: #184e77; }
  .contenedor-boton .add {
    font-size: 1.87rem; }

/*Colores*/
.titulo-historias {
  padding: 0 1rem; }

.grilla-historias {
  display: grid;
  height: 60rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template: "select select" 2fr "reproduccion reproduccion" 0.5fr "listado listado" 3fr / 1fr 1fr; }
  @media (min-width: 768px) {
    .grilla-historias {
      height: 52rem; } }
  .grilla-historias .contenedor-form-hist {
    grid-area: select;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .grilla-historias .contenedor-form-hist {
        grid-area: select;
        display: flex;
        flex-direction: row; } }
    .grilla-historias .contenedor-form-hist .form-group {
      padding-left: 2rem;
      padding-right: 1.5rem; }
  .grilla-historias .contenedor-repr {
    grid-area: reproduccion;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
    .grilla-historias .contenedor-repr .contenedor-botones {
      width: 100%;
      display: flex;
      justify-content: space-evenly; }
      @media (min-width: 768px) {
        .grilla-historias .contenedor-repr .contenedor-botones {
          width: 42%; } }
      .grilla-historias .contenedor-repr .contenedor-botones .btn-reproducir {
        grid-area: reproducir;
        width: 5%;
        align-self: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #38af8d;
        border: none;
        cursor: pointer;
        margin: 1.25rem; }
      .grilla-historias .contenedor-repr .contenedor-botones .btn-control {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #34a0a4;
        border: none;
        cursor: pointer;
        align-self: center; }

audio {
  -moz-box-shadow: 2px 2px 4px 0px #38af8d;
  -webkit-box-shadow: 2px 2px 4px 0px #38af8d;
  box-shadow: 2px 2px 4px 0px #38af8d;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px; }

.contenedor-historia {
  grid-area: listado;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  @media (min-width: 768px) {
    .contenedor-historia {
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
      margin-bottom: 8rem; } }
  @media (min-width: 600px) {
    .contenedor-historia .contenedor-img {
      height: 10%;
      width: 80%; } }
  @media (min-width: 768px) {
    .contenedor-historia .contenedor-img {
      flex-basis: 33%; } }
  .contenedor-historia .contenedor-listado {
    width: 100%;
    height: 12.5rem;
    overflow-y: scroll; }
    @media (min-width: 600px) {
      .contenedor-historia .contenedor-listado {
        width: 100%;
        height: 8rem; } }
    @media (min-width: 768px) {
      .contenedor-historia .contenedor-listado {
        width: 50%;
        height: 25rem; } }
  .contenedor-historia ul {
    padding-left: 0; }

/*Colores*/
.contenedor-listado {
  border: 1px solid black;
  height: 100%;
  width: 94%;
  margin-top: 1.25rem;
  background-color: black;
  color: #ffffff; }

.contenedor-listado li {
  width: 100%;
  padding: 1.25rem;
  border-bottom: 1px solid #38af8d; }

.contenedor-fila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit; }

.cont-columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.87rem; }

main .titulo {
  padding: 1.25rem; }
  @media (min-width: 768px) {
    main .titulo {
      margin-top: 2rem; } }

main .img-fondo {
  height: 14.06rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0; }
  @media (min-width: 768px) {
    main .img-fondo {
      height: 34.37rem; } }

section .contenedor-info {
  margin-top: 1.25rem;
  align-items: center;
  margin: 1rem;
  height: 100%; }
  @media (min-width: 992px) {
    section .contenedor-info {
      flex-direction: row;
      margin-top: 1.25rem;
      justify-content: space-between;
      margin-left: 1.87rem;
      height: 31.25rem; } }

section .contenedor-img-principal {
  height: 80%;
  width: 90%; }
  @media (min-width: 992px) {
    section .contenedor-img-principal {
      height: 80%;
      width: 50%; } }

section .contenedor-texto {
  height: 70%;
  justify-content: space-evenly;
  padding: 1.25rem; }
  @media (min-width: 768px) {
    section .contenedor-texto {
      width: 100%; } }
  @media (min-width: 992px) {
    section .contenedor-texto {
      height: 80%;
      width: 45%; } }

section .contenedor-texto p {
  text-align: justify; }
