
@import "variables";
@import "mixins";

/*Colores*/
$color-principal: black;
$color-secundario: #38af8d;
$color-btn: #34a0a4;
$color-letra: #ffffff;

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: $tipografia-principal;
  }

img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.87rem;

    @include telefono{
      font-size: 2rem;
    }
    // @media (min-width: 768px){
    //         font-size: 2rem;
          
    // }
  }
  
  h2,
  h3 {
    font-family: $tipografia-secundaria;
    font-weight: 400;
  }
  
  nav{
    a {
        color: $color-letra;
        text-decoration: none;
       
      }
      
      li {
        list-style: none;
       
      }

  }

  .text-center {
    text-align: center;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
  }