


$tipografia-principal: "Roboto", sans-serif;
$tipografia-secundaria: "Montserrat", sans-serif;


/*Colores*/
$color-principal: black;
$color-secundario: #38af8d;
$color-btn: #34a0a4;
$color-letra: #ffffff;