


$tipografia-principal: "Roboto", sans-serif;
$tipografia-secundaria: "Montserrat", sans-serif;


/*Colores*/
$color-principal: black;
$color-secundario: #38af8d;
$color-btn: #34a0a4;
$color-btn-frases: #168aad;
$color-btn-hover:#184e77;
$color-letra: #ffffff;
$color-div:  #52b69a;