@import "generales";
@import "header";
@import "footer";
@import "mixins";
@import "./pages/frases";
@import "./pages/historias";
@import "utilidades";


main {
  .titulo {
    padding: 1.25rem;

    @include telefono {
      margin-top: 2rem;
    }
  }

  .img-fondo {
    height: 14.06rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0;

    @include telefono {
      height: 34.37rem;
    }
  }
}

section {
  .contenedor-info {
    @extend .contenedor;
    margin-top: 1.25rem;
    align-items: center;
    margin: 1rem;
    height: 100%;

    @include large {
      flex-direction: row;
      margin-top: 1.25rem;
      justify-content: space-between;
      margin-left: 1.87rem;
      height: 31.25rem;
    }
  }

  .contenedor-img-principal {
    height: 80%;
    width: 90%;

    @include large {
      height: 80%;
      width: 50%;
    }
  }

  .contenedor-texto {
    @extend .contenedor;
    height: 70%;
    justify-content: space-evenly;
    padding: 1.25rem;

    @include telefono {
      width: 100%;
    }
    @include large {
      height: 80%;
      width: 45%;
    }
  }

  .contenedor-texto p {
    text-align: justify;
  }
}
