* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor-header {
  background: #f5f3ef;
  width: 100%;
  height: 50%;
}
.caja-logo {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-left: 39%;
  margin-top: -40px;
}

.logo {
  width: 100%;
  height: 100%;
}

.nav-principal {
  display: inline-block;
  width: 80%;
  padding-left: 140px;
  background: #f5f3ef;
}

.nav-principal li {
  display: inline-block;
  list-style: none;
  font-size: 15px;
  padding: 20px;
  width: 8%;
  margin-right: 10px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
li a:hover {
  border-bottom: 1px solid #12cbf0;
  font-weight: bold;
  color: #0648aa;
}

/* .contenedor-header {
  border-bottom: 1px solid black;
  align-items: center;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.enlaces-nav {
  display: inline-block;
  list-style: none;
  font-size: 15px;
  padding: 32px;
  color: black;
  text-decoration: none;
  padding-right: 15px;
  margin-top: 15px;
}
.logo {
  border-radius: 45px;
  width: 70px;
  height: 70px;
  margin-left: 5px;
  margin-right: 5px;
}
.caja-titulo {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 15px;
}
h1 {
  font-size: 12px;
} */
